<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monopoly</title>

    <link rel="stylesheet" href="styles/game.css">
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.2/p5.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="scripts/player.js"></script>
    <script src="scripts/place.js"></script>
    <script src="scripts/sketch.js" defer></script>
</head>
<body>
    <div id="container">
        <h1 id="info"> Hello</h1>
        <button id="fbtn" class=""></button>
    </div>
    <div id="canvas"></div>
    <p class="hide" id="amt"><%= amt %></p>
</body>
</html>